.meal-list {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  padding: 2rem;
  padding-left: 0;
  justify-content: space-evenly;
  max-height: 100vh;
  overflow-x: auto;
  background-color: var(--bg-main);
}

.meal-list a {
  text-decoration: none;
  color: inherit;
}

.meal-list p {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 1rem;
  padding-top: .5rem;
  font-size: 1.1rem;
}

.meal-list .meal-contenedor {
  max-width: 300px;
  min-width: 170px;
  border-radius: var(--radius);
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: all 0.3s;
  background-color: var(--bg-element);

  &:hover {
    background-color: var(--contrast01);
    color: var(--bg-main)
  }
}

.meal-list .meal-contenedor:hover {
  transform: scale(1.03);
}

.meal-list .meal-contenedor img {
  width: 100%;
}
