.meal-list {
  flex-grow: 1;
  display: grid;
  grid-template-columns: repeat(3, minmax(300px, 1fr));
  gap: 2rem;
  padding: 2rem;
  padding-left: 0;
  max-height: 100vh;
  overflow-x: auto;
  background-color: var(--bg-main);
  transition: all .5s ease-in;
}

.meal-list.padding {
  padding-left: 2rem;
}

.meal-list a {
  text-decoration: none;
  color: inherit;
  position: relative;
  display: block;
  min-height: 300px;
}

.meal-list p {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 100%;
  padding: 1rem;
  font-size: 1.3rem;
  font-weight: 600;
  position: absolute;
  bottom: 0;
  background-color: var(--bg-element);
  color: var(--text-main);
}

.meal-list .meal-contenedor {
  margin-left: 5px;
  min-width: 170px;
  flex-grow: 1;
  height: max-content;
  border-radius: var(--radius);
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: all 0.3s;
  background-color: var(--bg-main);

  &:hover {
    color: var(--bg-main);
  }
}

.meal-list .meal-contenedor:hover {
  transform: scale(1.03);
}

.meal-list .meal-contenedor:hover p {
  background-color: var(--text-main);
  color: var(--bg-main);
}

.meal-list .meal-contenedor img {
  width: 100%;
}

@media screen and (max-width: 1355px) {
  .meal-list {
    grid-template-columns: repeat(2, minmax(300px, 1fr));
  } 
}

@media screen and (max-width: 1025px) {
  .meal-list {
    grid-template-columns: repeat(1, minmax(300px, 1fr));
  } 
}