.category-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem;
  gap: 1.5rem;
  min-height: 100vh;
  background-color: var(--bg-main);
  min-width: 340px;
  max-width: 450px;
}

.category-list .main-title {
  padding: 1.5rem;
  gap: 1rem;
  background-color: var(--bg-element);
  border-radius: var(--radius);
  height: 50px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.category-list h1 {
  font-size: 1rem;
  font-weight: 500;
  display: flex;
  align-items: center;
  gap: 1rem;
}

.category-list > label {
  background-color: var(--bg-element);
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid var(--contrast02);
  border-radius: var(--input-radius);
  padding: 0.5rem 1rem;
  width: 100%;
  height: 50px;

  &:focus-within {
    border: 1px solid var(--outline);
  }
}

.category-list .search-icon {
  color: var(--placeholder);
}

.category-list input {
  font-family: 'Poppins', sans-serif;
  font-size: .95rem;
  font-weight: 500;
  outline: none;
  border: none;
  flex-grow: 1;
  background-color: var(--bg-element);
  color: currentColor;
  &::placeholder {
    color: var(--placeholder);
  }
}

.category-list .categories-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 1rem 1rem;
  background-color: var(--bg-element);
  border-radius: var(--radius);
  font-weight: 500;
  max-height: calc(100vh - 212px);
  overflow: auto;
  overflow-y: auto;
}

.category-list .category-item {
  width: 100%;
  height: 50px;
  border-radius: 50px;
  cursor: pointer;
  transition: all .1s ease-in;
  flex-shrink: 0;

  &:hover {
    background-color: var(--contrast01);
    color: var(--bg-element);
  }

  &:active {
    background-color: var(--text-main);
    transform: scale(0.99);
  }
}

.category-list .category-item.selected {
  background-color: var(--text-main);
  color: var(--bg-element);
}

.category-list a {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 100%;
  padding: 0 1.5rem;
  text-decoration: none;
  color: currentColor;
  background-color: transparent;
}

.category-list img {
  border-radius: var(--radius);
}

.theme-switch-wrapper {
  justify-self: right;
}

.theme-switch-wrapper .checkbox {
  opacity: 0;
  position: absolute;
}

.theme-switch-wrapper .checkbox-label {
  background-color: var(--contrast01);
  width: 50px;
  height: 26px;
  border-radius: 50px;
  position: relative;
  padding: 5px;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.theme-switch-wrapper .fa-moon {color: var(--bg-element);}

.theme-switch-wrapper .fa-sun {color: var(--bg-element);}

.theme-switch-wrapper .checkbox-label .ball {
  background-color: #fff;
  width: 22px;
  height: 22px;
  position: absolute;
  left: 2px;
  top: 2px;
  border-radius: 50%;
  transition: transform 0.2s linear;
}

.theme-switch-wrapper .checkbox:checked + .checkbox-label .ball {
  transform: translateX(24px);
}
